body {
    font-family: sans-serif;
}

h1 {
    height: 3rem;
    font-size: 4rem;
}

.fact {
    background-color: lightblue;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 2rem;
}

button {
    font-size: 1.5rem;
    margin: 0.5rem;
}